body{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    
  
}
header{
   
    padding: 3px;
    display: flex;
    justify-content: flex-end;
    
    
}
nav a{
    margin: 3px;
    padding: 15px;
    text-decoration: none;
    
}
nav ul{
    display: flex;
    align-items: center;
}
nav button{
    background-color: blue;
    color: white;
    width: 100px;
    padding: 7px;
    border:1px solid;
    border-radius: 10px;
    border: none;
}
.first_container{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;


}
.first_container img{
    padding: 20px;
    margin: 10px;

}
.in{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
    width: 60%;
    border-radius: 10px;
    height: 30px;
}
input{
    width: 100%;
    border: 1px solid;
    height: 20px;
    outline:none;
    padding: 5px;
    border: none;
    
}
.butt{
    display: flex;
    padding: 20px;
}
button{
    padding:10px;
    margin:15px;
}
.lang{
    display: flex;
    margin: 0;
    
}
.lang a{
    padding: 10px;
}

    
}
footer{
    display: flex;
}
}
.bottom1 a{
    padding: 4px;
    
}
.bottom2 a{
    padding: 4px;
}
.bottom3 a{
    padding: 4px;
    margin-right: 30px;
    
}
footer{
    background-color: grey;
    
}
.bottom-footer{
    display: flex;
    justify-content: space-between;
}
.bottom{
    border:1px solid;
    border-color: rgb(189, 184, 184);
    

    
}
.bottom p{
    font-size: 15px;
    
}
.btm{

}
.btm a{
    padding: 20px;
    color: lavender;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}